<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>OAuth2 Sample App - Intuit</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>

    if(window.opener) {
      window.opener.location.href = '/connected'
      window.close()
    }
    function refreshToken() {
        $("#result").html('Loading...')
        $.get("/refreshToken", function(data) {
          $("#result").html(data)
        })
    }

    function invoice() {
        $("#result").html('Loading...')
        $.get("/invoice", function(data) {
          $("#result").html(data)
        })
    }
    function newCustomer() {

        $.get("/customerForm", function(data) {
          $("#result").html(data)
        })
    }
  </script>
</head>
<body>
<a href="/" >Home</a>
<h3>Connected!</h3>
<div>
  <button onclick="refreshToken()">Refresh Token</button>
  <br /><br />
  <button onclick="newCustomer()">Create new customer</button>
  <button onclick="invoice()">Create new invoice</button>
  <br />

  <div><code id="result" th:text="${response}"></code></div>
</div>
</body>
</html>